<log4net>
<root>
  <level Value="All"></level>
  <appender-ref ref="AdoNetAppender"></appender-ref>
</root>
<appender name="JsonFileLogger" type="log4net.Appender.FileAppender">
  <file value="C://Log//log.json" />
  <layout type="ReCapProject.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts"></layout>
</appender>
<appender name="SqlServerAppender" type="log4net.Appender.AdoNetAppender">
  <bufferSize value="1" />
  <connectionType value="System.Data.SqlClient.SqlConnection,System.Data.SqlClient,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
  <connectionString value="Data Source=MIRAÇ;Initial Catalog=RentACar;Integrated Security=true;" />
  <commandText value="insert into Logs (Detail,Date,Audit) VALUES (@logDetail,@log_date,@audit)" />
  <parameter>
    <parameterName value="@logDetail" />
    <dbType value="String" />
    <size value="4000" />
    <layout type="ReCapProject.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout" />
  </parameter>
  <parameter>
    <parameterName value="@log_date" />
    <dbType value="DateTime" />
    <layout type="ReCapProject.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout" value="%date{dd'-'MM'-'yyyy HH':'mm':'ss'.'fff}" />
  </parameter>
  <parameter>
    <parameterName value="@audit" />
    <dbType value="String" />
    <size value="50" />
    <layout type="ReCapProject.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout" value="%level" />
  </parameter>
</appender>

<!--<root>
    <level value="DEBUG"/>
    <appender-ref ref="JsonFileLogger"/>
    
  </root>-->

<logger name="JsonFileLogger">
  <level value="ALL"></level>
  <appender-ref ref="JsonFileLogger" />
</logger>

<logger name="DatabaseLogger">
  <level value="ALL"></level>
  <appender-ref ref="DatabaseLogger" />
</logger>

</log4net>